@import '~antd/dist/antd.css';

:root {
    --red: #ff124f;
    --purple: #7700a6;
    --blue: #00b3fe;
    --yellow: #defe47;
    --dark-blue: #01012b;
    --pink: #ff2a6d;
    --black: #000c17;
    --white: #E5E5E5;
    --light-green: #d1f7ff;
    --dark-green: #005678;
    --text-shadow: rgb(0, 208, 255);
}

@keyframes hovering-button {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

.ant-layout {
    height: 100vh;
}

.ant-tabs-tab {
    font-size: 40px;
}

.button {
    text-align: center;
    height: 50px;
    color: #343A3F;
    border: none !important;
    margin: 5px;
    font-size: 20px;
}

.gameButton {
    font-size: 20px;
    height: 40px;
    background-color: var(--white);
}

.gameText {
    margin-top: 15px;
}

.ant-tabs-tab {
    font-size: 40px;
}

a.ant-btn {
    padding-top: 10px;
    line-height: 30px;
}

.ant-tabs-nav {
    margin-bottom: 64px !important;
}

.ant-layout-header {
    background: var(--dark-blue);
    height: auto;
}

.ant-menu-item {
    background: var(--dark-blue);
    font-size: 25px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: none;
    background: var(--dark-blue);
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
    background: var(--dark-blue);
}

.ant-menu-horizontal > .ant-menu-item a:hover {
    color: var(--light-green);
}

.ant-menu-title-content {
    color: var(--dark-green);
}

.ant-menu-title-content:hover {
    border-style: solid;
    border-color: var(--pink);
}

.ant-menu-horizontal > .ant-menu-item a{
    color: var(--dark-green);;
}

.ant-menu-submenu-selected::after {
    border-bottom: none;
}

#github-icon {
    color: #92D050;
    font-size: 25px;
}

#linkedin-icon {
    color: blue;
    font-size: 25px;
}