@import '~antd/dist/antd.css';

:root {
    --red: #de004e;
    --dark-red: #860029;
    --purple: #7a04eb;
    --blue: #00b3fe;
    --yellow: #defe47;
    --dark-blue: #321450;
    --pink: #ff00a0;
    --light-pink: #f887ff;
    --black: #29132e;
    --white: #E5E5E5;
    --light-green: #d1f7ff;
    --dark-green: #005678;
    --text-shadow: rgb(0, 208, 255);
}

* {
    font-family: 'Open Sans', sans-serif;
}

p, a {
    font-size: 16px;
    color: var(--red);
}

h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography {
    color: var(--red);
    margin: 50px;
}

.ant-tabs-tab {
    font-size: 40px;
}

.ant-card {
    width: 75%;
    height: 75%;
}

.ant-card:hover {
    transform: scale(1.3);
}

.button {
    text-align: center;
    height: 50px;
    color: #343A3F;
    border: none !important;
    margin: 5px;
    font-size: 20px;
}

.ant-progress-inner {
    width: 1200px;
    height: 1200px;
}

.ant-tabs-tab {
    font-size: 40px;
}

a.ant-btn {
    padding-top: 10px;
    line-height: 30px;
}

.ant-tabs-nav {
    margin-bottom: 64px !important;
}

.ant-layout-header, #footer {
    background: var(--black);
    height: 63px;
}

.ant-layout {
    background: var(--dark-blue);
}

.ant-menu {
    background: var(--black);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: none;
    background: var(--black);
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
    background: var(--black);
}

.ant-menu-horizontal > .ant-menu-item a:hover {
    color: var(--red);
}

.ant-menu-title-content {
    color: var(--dark-red);
}

.ant-menu-title-content:hover {
    border-style: solid;
    border-color: var(--red);
}

.ant-menu-horizontal > .ant-menu-item a {
    color: var(--dark-red);;
}

.ant-menu-submenu-selected::after {
    border-bottom: none;
}

#picture {
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 60px 30px var(--dark-red)
}

#presentation {
    text-align: center;
}

#github-icon {
    color: #92D050;
    font-size: 25px;
}

#linkedin-icon {
    color: blue;
    font-size: 25px;
}