@import '~antd/dist/antd.css';

:root {
    --red: #ff124f;
    --dark-blue: #383e65;
    --pink: #ff00a0;
    --text-shadow: rgb(0, 208, 255);
}

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

.ant-layout {
    height: 100vh;
}

.ant-tabs-tab {
    font-size: 40px;
}

.ant-divider {
    background-color: #5DADE2 !important;
}

.button {
    text-align: center;
    height: 50px;
    color: #343A3F;
    border: none !important;
    margin: 5px;
    font-size: 20px;
}

.gameButton {
    font-size: 20px;
    height: 40px;
    background-color: #E5E5E5;
}

.gameText {
    margin-top: 15px;
}

.ant-tabs-tab {
    font-size: 40px;
}

a.ant-btn {
    padding-top: 10px;
    line-height: 30px;
}

.ant-tabs-nav {
    margin-bottom: 64px !important;
}

.ant-layout-sider-children{
    background: var(--dark-blue);
}

.ant-menu{
    background: var(--dark-blue);
}

.ant-menu-item {
    margin-top: 15px;
}

.ant-menu-item a:hover {
    color: var(--red);
    border-style: solid;
    border-width: 2px;
    border-color: var(--red);
}

#github-icon {
    color: #92D050;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#linkedin-icon {
    color: blue;
    font-size: 25px;
    margin-top: 10px;
}